.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;

  /* выше установили ограничения для секции */
}

.logo {
  width: 228px;
  height: 32px;
}
.logo_place_header {
  position: absolute;
  flex-direction: column;
  left: 64px;
  top: 30px;
}

.header__title {
  color: #000000;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  justify-content: flex-start;
  margin: 0 0 0 64px;
  align-self: center;
  z-index: 4;
}
.header__subtitle {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  flex-direction: column;
  z-index: 4;
}
.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  align-self: center;
  right: 0;
  top: 64px;
}

.description {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  /* min-height: 380px; */
}
.two-columns {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
.two-columns__main-text {
  /* flex-direction: column;
  justify-content: space-between; */
  min-width: 784px;
  width: 80%;
  /* row-gap: 10px; */
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
}
.two-columns__paragraph:last-child {
  padding-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.section-title {
  text-align: center;
  margin: 100px auto 20px auto;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  z-index: 4;
}
.section-subtitle {
  text-align: center;
  margin: 0 auto 60px auto;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 4;
}
.table {
  width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}
.table__cell {
  width: 250px;
  padding: 0;
  margin-bottom: 60px;
}
.table__cell:nth-last-of-type(-n + 4) {
  margin: 0 0;
}
.table__heading {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  min-height: 890px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom;
}
.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  align-self: center;
  margin-top: 100px;
  margin-bottom: 70px;
}
.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
}
.feynman__link {
  color: #2f80ed;
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
}

/* и элемента с модификатором вида ключ-значение */
.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  margin-bottom: 80px;
  z-index: 4;
}
.table__cell_theme_dark:nth-last-of-type(-n + 6) {
  margin: 0 0;
}
.section-title_theme_dark {
  color: white;
  z-index: 4;
  position: relative;
  margin: 90px auto 20px auto;
}
.section-subtitle_theme_dark {
  color: white;
  margin-bottom: 0;
  position: relative;
  z-index: 4;
}
.kaufman__triangle {
  height: 877px;
  width: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}
.footer {
  background-color: #1f1f1f;
  color: white;
  position: relative;
  margin: auto;
  min-height: 350px;
  box-sizing: border-box;
  padding: 60px 0 40px 0;
  display: flex;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.footer__column {
  /* min-height: 350px; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 18px;
  margin-top: 18px;
}

/* .footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
} */

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 20px 0;
}
.footer__column-links {
  color: white;
  padding: 0;
  list-style: none;
  text-decoration: none;
  margin: 0 0 16px 0;
}
.footer__column-link {
  color: white;
  list-style: none;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer__social-icon {
  padding-right: 10px;
}
